<body>
    <div class="postcontainer">
      <h2>{{post.title}}</h2>
      <p>{{post.content}}</p>
      <div class="author-info">
        <p>Author: {{post.authorName}}</p>
        <p>Created: {{post.createdAt}}</p>
        <p>Updated: {{post.updatedAt}}</p>
      </div>
      <img src="{{post.imageUrl}}" alt="Post Image">
    </div>
  </body>